<div class="readMoreButtonContainer">
  <a class="readMoreButton" href="/<%= channel.category %>/<%= channel.slug %> ">
    <div class="readMoreButtonInner">
      <span class="readMoreButtonText">Read more</span>
    </div>
    <div class="readMoreButtonShadow"></div>
    <div class="readMoreButtonFrame"></div>
  </a>
</div>