.categoryMain {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.categoryHeader {
  margin: 0 auto;
}

.categoryHeader h1{
  font-family: 'Bebas Neue';
  font-size: 4rem;
  /* color: #262C35; */
  color: rgb(233, 198, 100);
  letter-spacing: 3px;
    text-shadow:
    2px 2px #ff9f1c,
    4px 4px #c05621,
    8px 8px #3a1f0f;
    /* text-shadow:
    1px 1px white,
    2px 2px white,
    4px 4px #3a1f0f; */
    /* text-shadow:
    1px 1px #ff9f1c,
    2px 2px #c05621,
    4px 4px #3a1f0f; */
  letter-spacing: 4px;
}

.categoryChannelWrapper {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  gap: 30px;
  padding-right: 50px;
}

.categoryChannelCard {
  /* background-color: #D0A86F; */
  background-color: #c08520;
  /* background-color: rgba(38, 44, 53, 0.9); */
  border-radius: 15px;
  padding: 10px;
  display: flex;
  width: 100%;
  height: 150px;
}

.categoryChannelThumbnail {
  align-self: center;
}

.categoryChannelThumbnail img{
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* object-fit: cover; */
}

.categoryChannelinfo {
  font-family: 'Bebas Neue';
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* gap: 1rem; */
}

.categoryChannelinfo h2{
  margin: 0;
  text-shadow: 2px 2px 2px rgb(74, 72, 72);
}

.readMoreButtton {
  width: 100px;
  height: 25px;
  border-radius: 15px;
  background-color: #396058;
  display: flex;
  justify-content: center;
  align-items: center;
}

.readMoreButtton a{
  text-decoration: none;
  color: snow;
}