.categoryMain {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.categoryHeader {
  margin: 0 auto;
}

.categoryHeader h1{
  font-family: 'Bebas Neue';
  font-size: 4rem;
  color: rgb(233, 198, 100);
  letter-spacing: 3px;
    text-shadow:
    2px 2px #ff9f1c,
    4px 4px #c05621,
    8px 8px #3a1f0f;
  letter-spacing: 4px;
}

.categoryChannelWrapper {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  gap: 30px;
  padding-right: 50px;
}

.categoryChannelCard {
  background-color: #c08520;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  width: 100%;
  height: 150px;
}

.categoryChannelThumbnail {
  align-self: center;
}

.categoryChannelThumbnail img{
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.categoryChannelinfo {
  font-family: 'Bebas Neue';
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.categoryChannelinfo h2{
  margin: 0;
  text-shadow: 2px 2px 2px rgb(74, 72, 72);
}

.readMoreButtton {
  width: 100px;
  height: 25px;
  border-radius: 15px;
  background-color: #396058;
  display: flex;
  justify-content: center;
  align-items: center;
}

.readMoreButtton a{
  text-decoration: none;
  color: snow;
}

@media (min-width: 340px) and (max-width: 1024px) {
  .categoryMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }

  .categoryChannelWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-right: 0;
  }

  .categoryHeader h1{
    font-size: 3rem;
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
  }

  .categoryChannelCard {
    width: 300px;
  }
}