.channelMain {
  align-items: flex-end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.channelPageHeader {
  grid-area: 1 / 1 / 2 / 4;
  align-self: start;
  justify-self: center;
}

.channelPageHeader h1{
  font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
  font-size: 4rem;
  color: rgb(233, 198, 100);
  letter-spacing: 3px;
    text-shadow:
    2px 2px #ff9f1c,
    4px 4px #c05621,
    8px 8px #3a1f0f;
  letter-spacing: 4px;
  padding-top: 20px;
  text-align: center;
}

.channelWrapper {
  grid-area: 2 / 2 / 4 / 4;
  align-self: start;
  justify-self: center;
}

.channelGrid {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
  background-color: #c08520;
  border-radius: 15px;
}

.channelBanner {
  grid-area: 1 / 1 / 2 / 4; 
}

.channelBanner img{
  border-radius: 15px 15px 0 0;
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.channelThumbnail {
  grid-area: 2 / 1 / 3 / 2;
  place-self: center;
}

.channelThumbnail img{
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.channelHeader {
  grid-area: 2 / 2 / 3 / 4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #262C35;
  font-family: 'Righteous', Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

.channelDescription {
  grid-area: 3 / 1 / 5 / 4;
  color: #262C35;
  padding: 0 20px;
  font-family: 'Fredoka', Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 1.2rem;
}

.channelSocials {
  grid-area: 5 / 1 / 6 / 4;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.channelSocials a img{
  height: 40px;
}

.channelSocials a img:hover{
  transform: scale(1.2);
  transition: transform 0.2 ease;
}

@media (min-width: 340px) and (max-width: 1024px) {
  .header {
    padding: 0;
  }

  .navMenu {
    padding-bottom: 0;
  }

  .navMenuList {
    margin: 0;
  }

  .channelMain {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .channelPageHeader {
    place-self: center;
  }

  .channelPageHeader h1{
    font-size: 3rem;
    text-align: center;
    margin: 0;
    padding: 10px;
  }

  .channelWrapper {
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .channelGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    background-color: #c08520;
    border-radius: 15px;
  }
}