.channelMain {
  /* flex-grow: 1;
  padding-right: 70px;
  display: flex;
  flex-direction: column; */
  align-items: flex-end;
}

.channelPageHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.channelPageHeader h1{
  font-family: 'Bebas Neue';
  font-size: 3rem;
  /* color: #262C35; */
  color: rgb(233, 198, 100);
  letter-spacing: 3px;
    text-shadow:
    2px 2px #ff9f1c,
    4px 4px #c05621,
    8px 8px #3a1f0f;
    /* text-shadow:
    1px 1px white,
    2px 2px white,
    4px 4px #3a1f0f; */
    /* text-shadow:
    1px 1px #ff9f1c,
    2px 2px #c05621,
    4px 4px #3a1f0f; */
  letter-spacing: 4px;
  padding-top: 60px;
}

.channelWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  /* padding: 70px 70px 0 0 ; */
  /* padding: clamp(20px, 5vw, 70px) clamp(20px, 5vw, 70px) 0 0; */
  padding: clamp(20px, 5vw, 70px) clamp(20px, 5vw, 70px) 0 0;
}

.channelGrid {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
  background-color: #c08520;
  border-radius: 15px;
}

.channelBanner {
  grid-area: 1 / 1 / 2 / 4; 
}

.channelBanner img{
  border-radius: 15px 15px 0 0;
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.channelThumbnail {
  grid-area: 2 / 1 / 3 / 2;
  place-self: center;
}

.channelThumbnail img{
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.channelHeader {
  grid-area: 2 / 2 / 3 / 4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #262C35;
  font-family: 'Righteous';
  letter-spacing: 2px;
}

.channelDescription {
  grid-area: 3 / 1 / 5 / 4;
  color: #262C35;
  padding: 0 20px;
  font-family: 'Fredoka';
  font-weight: bolder;
  font-size: 1.2rem;
}

.channelSocials {
  grid-area: 5 / 1 / 6 / 4;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding-right: 20px;
  padding-bottom: 20px;
}
