* {
  box-sizing: border-box;
}

html {
  height: 100dvh;
}

body {
    margin: 0;
    background-image: url("../images/background_test.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 100%;
    color: white;
}

.categoryBody, .channelBody {
    margin: 0;
    background-image: url("../images/background_other.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 100%;
    color: white;
}

.homepageBody, .categoryBody, .channelBody {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto, 1fr, auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: 100dvh;
}

.header {
  grid-area: 1 / 5 / 6 / 6;
  background-color: rgba(0, 3, 7, 0.5);
  font-family: 'Righteous';
  height: auto;
  position: relative;
}

.navMenu {
  position: sticky;
  top: 1rem;
  align-self: flex-start;
}

.navMenuList {
  min-height: 500px;
  list-style-type: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.navMenuItem {
  text-align: right;
  padding-right: 30px;
  letter-spacing: 5px;
}

.navMenuItem a {
  text-decoration: none;
  color: #EDEBDE;
  font-size: 1.5rem;
}

.homepageMain, .categoryMain, .channelMain {
  grid-area: 1 / 1 / 5 / 5;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.footer {
  grid-area: 5 / 1 / 6 / 5;
  display: flex;
  align-items: flex-end;
  padding-left: 30px;
  letter-spacing: 10px;
  font-family: 'Roboto';
  color: snow;
   text-shadow: 3px 3px #3a1f0f;
}

@media (min-width: 340px) and (max-width: 1024px) {

  .homepageBody, .categoryBody, .channelBody {
    background-image: url("../images/background_mobile.png");
    display: flex;
    flex-direction: column;
  }

  .header {
    background-color: transparent;
    width: 100%;
    position: relative;
    z-index: 1000;
    grid-area: unset;
    padding: 10px;
  }

  .navMenu {
    padding: 10px;
  }

  .homepageMain, .categoryMain, .channelMain {
    grid-area: unset;
    width: 100%;
  }

  .footer {
    justify-content: center;
    align-items: center;
    padding-left: 0;
    font-size: 0.8rem;
    padding-bottom: 10px;
  }
}