.homepageMain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepageText {
  grid-area: 1 / 1 / 2 / 5;
  color: #262C35;
}

.homepageSubtitle {
  font-family: 'Roboto';
  font-size: 1.2rem;
  padding: 30px;
  text-align: right;
  color: white;
  text-shadow: 2px 2px 2px rgb(43, 43, 43);
  letter-spacing: 2px;
}