
.hamburger {
  display: none;
}

@media (max-width: 1280px) {

  .hamburger {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    /* width: 35px;
    height: 28px; */
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    z-index: 1001;
    flex-shrink: 0;
    background-color: purple;
    border-radius: 50%;
  }

  .hamburger span {
    width: 90%;
    height: 4px;
    background:  #E9C664;
    opacity: 0.8;
    border-radius: 4px;
    transition: transform 0.35s ease, opacity 0.25s ease, background-color 0.25s ease;
  }

  .hamburger.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
    transform: scaleX(0.5);
  }

  .hamburger.active span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

  .navMenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .navMenuList {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    position: fixed;
    background-color: rgba(7, 9, 21, 0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.25s ease;
    z-index: 999;
  }

  .navMenuList.active {
    padding-top: 6rem;
    opacity: 1;
    transform: translateY(0);
    gap: 6%;
    margin-top: 0;
    align-items: flex-end;
  }

  .navMenuItem {
    background-color: transparent;
  }

  .navMenuItem a {
    background-color: transparent;
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    padding-right: 15px;
  }
}

@media (min-width: 768px) {
  .navMenuItem {
  font-size: 1.8rem;
  }
}
